*{
	margin: 0px;
	padding: 0px;
    color: black;
    font-family: 'Pacifico', cursive;
}
body{
	background-image: url('img/bg.jpg');
    background-size: 100%;
}

#wall{
	width: 73%;
	height: auto;
	margin-left: 45px;
}
.menu1:hover a{
	color: #efc807;
}
.menu1:hover button{
	background-color: #efc807;
}
button{
	padding: 5px; 
	border-radius: 3px;
}
#header{
	height: 90px;
	line-height: 80px;
}
.header_title{
	float: left;
}
.menu-header{
	float: right;
}
ul{
	list-style-type: none;
}
.menu-header li{
	display: inline-block;
	padding-left:15px;
}
.menu-header li button{
	cursor: pointer;
}
a{
	text-decoration: none;
}


#main_left{
	float: left;
	width: 20%;
}
.left_mn{
	line-height: 27px;
}

#main_right{
	float: left;
	width: 80%;
}
.items{
	width: 26%;
	display: inline-block;
	background-color: #e55ede;
	position: relative;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 20px;
	text-align: center;
}
.items>p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.items>img{
	width: 100%;
	height: 200px;
	margin-bottom: -4px;
}
.items_bot{
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: 10px 0px;
    text-align: center;
    color: black;
}

#footer{
	clear: left;
}
#footer > ul>li{
	display: inline-block;
	padding: 10px 15px;
}
.mn-ft:hover a{
	text-decoration: underline;
	color: #efc807;
}