#id0{
	width: 200px;
	height: 170px;
	background-color: white;
	border: 2px solid black;
	float: left;
}
.class1x{
	width: 140px;
	height: 170px;
	background-color: white;
	border: 2px solid black;
	padding: 10px; 
	text-align: center;
	float: left;
	border-style: groove;
}
.class0x{
	width: 5px;
	height: 170px;
	background-color: white;
	padding: 10px; 
	float: left;
	padding: 10px; 
}

div:hover {
 	border: 2px solid blue;
}
	
