<!DOCTYPE html>
<html>
<head>
<style>
.btn-group .button {
  background-color: #352d2d;
  border: 1px solid black;
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("image/tuyet.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
      background-image:url(image/t);
    }
.image_menu_bar{
    width:width="150";
    height:30px; 
    background-image: url(image/menu_bar.gif);
}    
